body {
    background-color: rgb(99, 109, 6);
}


nav.navbar {
    padding:10px;
    margin-bottom: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flex {
    display: flex;
}

ul.nav-underline {
    margin-left:15% !important;
    min-width: 150% !important;
}

.white {
    color:white !important;
}

.yellow {
    color:rgb(211, 207, 0) !important;
}

.green {
    color:rgb(39, 95, 1) !important;
}

.black {
    color:black !important;
}

.blue {
    color: darkblue !important;
}

.bold {
    font-weight: bold !important;
}

ul.errorlist {
    color: rgb(187, 0, 0) !important;
    font-size: 18px !important;
}

.right {
    justify-content:right !important;
}

.flex {
    display: flex !important;
}

div.tasks {
    margin:5%;
    width:60%;
}

div.card {
    margin:12% !important;
}

.margin-1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

div.filter {
    margin-right:10%;
    margin-left:10%;
}

label.filter {
    margin-right:10px !important;
}

footer.down {
    background-position: bottom !important;
}
.accordion-item {
    background-color: rgba(100, 100, 100, 0) !important;
}

.accordion-button {
    background-color: rgba(100, 100, 100, 0) !important;
}

div.accordion {
    margin:2%;
}

div.accordion-item {
    padding: 1%;
}

.details {
    margin:1%;
    color:darkblue;
}

div.comment {
    display: flex;
}

div.comment-system {
    margin:2%;
    border:2px dashed darkblue;
    padding:1%;
    max-width: 50%;
}

textarea.comment {
    min-height: 120px;
    max-height: 120px;
}

iframe.comment {
    border: 1px solid darkgoldenrod;
}

.alpha {
    background-color:rgba(0, 0, 0, 0);
}

div.content {
    border:1px dotted rgba(16, 19, 182, 0.5);
    margin-bottom: 15px;
    padding: 7px;
}

.task-text {
    border:1px dotted rgba(16, 19, 182, 0.5);
    padding: 12px;
    max-width: 50%;
    margin-top:10px;
}

.vertical {
    border-left: thick solid #ff0000 !important;
    padding-left:15px;
  }

img.image {
    max-width: 350px;
    max-height: 500px;
}

.block {
    display:block !important;
}

details.my-accordion {
    margin:10px;
    padding:10px;
    border:2px solid rgba(169, 169, 169, 0.7);
    border-radius:3px;
}

.edit-delete {
    max-width: 50%;
    display: flex;
}

a.ed {
    width: 50%;
}

.form-multi-select-input-group {
    background-color: rgb(99, 109, 6);
    border-color: rgb(99, 109, 6);
}

.form-multi-select-indicator {
    border: 1px solid #414141;
}

.padding-3 {
    padding: 3px;
    border-color: #414141;
    border-radius: 8px;
}
